<!DOCTYPE html>

<html>

    <header>
        <meta charset="utf-8" />
        <title> {{pageTitle}} </title>
    </header>

    <body>

        <h1>{{pageTitle}} Page</h1>
        <p> {{capitalize message}} </p>

    </body>

</html>